## Extraccion de los datos desde la API

In [1]:
import pandas as pd
import requests

# Realizar la solicitud GET a la API
url = 'https://restcountries.com/v3.1/all'
response = requests.get(url)
data = response.json()

# Transformar el JSON en un DataFrame de Pandas
df = pd.json_normalize(data)

# Seleccionar las 8 columnas más importantes
important_columns = ['name.common', 'population', 'area',  'region',
                     'subregion', 'capital', 'borders', 'timezones']

df = df.loc[:, important_columns]

# Imprimir las primeras filas del DataFrame con las 10 columnas seleccionadas
print(df.head())

          name.common  population     area    region         subregion  \
0   Equatorial Guinea     1402985  28051.0    Africa     Middle Africa
1             Ireland     4994724  70273.0    Europe   Northern Europe
2    Pitcairn Islands          56     47.0   Oceania         Polynesia
3              Kosovo     1775378  10908.0    Europe  Southeast Europe
4  Dominican Republic    10847904  48671.0  Americas         Caribbean

           capital               borders    timezones
0         [Malabo]            [CMR, GAB]  [UTC+01:00]
1         [Dublin]                 [GBR]        [UTC]
2      [Adamstown]                   NaN  [UTC-08:00]
3       [Pristina]  [ALB, MKD, MNE, SRB]  [UTC+01:00]
4  [Santo Domingo]                 [HTI]  [UTC-04:00]

# LIMPIEZA DE LOS DATOS

In [2]:
df

,name.common,population,area,region,subregion,capital,borders,timezones
0,Equatorial Guinea,1402985,28051.0,Africa,Middle Africa,[Malabo],"[CMR, GAB]",[UTC+01:00]
1,Ireland,4994724,70273.0,Europe,Northern Europe,[Dublin],[GBR],[UTC]
2,Pitcairn Islands,56,47.0,Oceania,Polynesia,[Adamstown],NaN,[UTC-08:00]
3,Kosovo,1775378,10908.0,Europe,Southeast Europe,[Pristina],"[ALB, MKD, MNE, SRB]",[UTC+01:00]
4,Dominican Republic,10847904,48671.0,Americas,Caribbean,[Santo Domingo],[HTI],[UTC-04:00]
...,...,...,...,...,...,...,...,...
245,Australia,25687041,7692024.0,Oceania,Australia and New Zealand,[Canberra],NaN,"[UTC+05:00, UTC+06:30, UTC+07:00, UTC+08:00, U..."
246,Uruguay,3473727,181034.0,Americas,South America,[Montevideo],"[ARG, BRA]",[UTC-03:00]
247,Grenada,112519,344.0,Americas,Caribbean,[St. George's],NaN,[UTC-04:00]
248,Liberia,5057677,111369.0,Africa,Western Africa,[Monrovia],"[GIN, CIV, SLE]",[UTC]
249,French Southern and Antarctic Lands,400,7747.0,Antarctic,NaN,[Port-aux-Français],NaN,[UTC+05:00]

In [3]:
df=df.rename(columns={'name.common':'Name'})

In [4]:
df['capital'] = df['capital'].astype(str)
df['borders'] = df['borders'].astype(str)
df['timezones'] = df['timezones'].astype(str)

## Se agrega columna de auditoria

In [5]:
from datetime import datetime

fecha_actual = datetime.now()

df['ETL_TIME'] = pd.to_datetime(fecha_actual)

## Quitamos Corchetes y comillas simples

In [6]:
df['borders'] = df['borders'].apply(lambda x: ''.join(x).replace("'", ""))
df['borders'] = df['borders'].apply(lambda x: ''.join(x).replace("[", ""))
df['borders'] = df['borders'].apply(lambda x: ''.join(x).replace("]", ""))

df['capital'] = df['capital'].apply(lambda x: ''.join(x).replace("'", ""))
df['capital'] = df['capital'].apply(lambda x: ''.join(x).replace("[", ""))
df['capital'] = df['capital'].apply(lambda x: ''.join(x).replace("]", ""))

df['timezones'] = df['timezones'].apply(lambda x: ''.join(x).replace("'", ""))
df['timezones'] = df['timezones'].apply(lambda x: ''.join(x).replace("[", ""))
df['timezones'] = df['timezones'].apply(lambda x: ''.join(x).replace("]", ""))

In [7]:
df

,Name,population,area,region,subregion,capital,borders,timezones,ETL_TIME
0,Equatorial Guinea,1402985,28051.0,Africa,Middle Africa,Malabo,"CMR, GAB",UTC+01:00,2023-05-27 12:29:50.741404
1,Ireland,4994724,70273.0,Europe,Northern Europe,Dublin,GBR,UTC,2023-05-27 12:29:50.741404
2,Pitcairn Islands,56,47.0,Oceania,Polynesia,Adamstown,nan,UTC-08:00,2023-05-27 12:29:50.741404
3,Kosovo,1775378,10908.0,Europe,Southeast Europe,Pristina,"ALB, MKD, MNE, SRB",UTC+01:00,2023-05-27 12:29:50.741404
4,Dominican Republic,10847904,48671.0,Americas,Caribbean,Santo Domingo,HTI,UTC-04:00,2023-05-27 12:29:50.741404
...,...,...,...,...,...,...,...,...,...
245,Australia,25687041,7692024.0,Oceania,Australia and New Zealand,Canberra,nan,"UTC+05:00, UTC+06:30, UTC+07:00, UTC+08:00, UT...",2023-05-27 12:29:50.741404
246,Uruguay,3473727,181034.0,Americas,South America,Montevideo,"ARG, BRA",UTC-03:00,2023-05-27 12:29:50.741404
247,Grenada,112519,344.0,Americas,Caribbean,"""St. Georges""",nan,UTC-04:00,2023-05-27 12:29:50.741404
248,Liberia,5057677,111369.0,Africa,Western Africa,Monrovia,"GIN, CIV, SLE",UTC,2023-05-27 12:29:50.741404
249,French Southern and Antarctic Lands,400,7747.0,Antarctic,NaN,Port-aux-Français,nan,UTC+05:00,2023-05-27 12:29:50.741404

## Buscamos duplicados

In [8]:
df_Duplicados=df[df.duplicated('Name')]

In [9]:
df_Duplicados

Empty DataFrame
Columns: [Name, population, area, region, subregion, capital, borders, timezones, ETL_TIME]
Index: []

In [20]:
nan_counts = df.isna().any().sum()
print(f"Número de valores NaN en el DataFrame: {nan_counts}")

Número de valores NaN en el DataFrame: 1

## Cantidad de paises por region

In [10]:
df_cantidades = df.groupby('region').count()

In [11]:
print(df_cantidades['Name'])

region
Africa       59
Americas     56
Antarctic     5
Asia         50
Europe       53
Oceania      27
Name: Name, dtype: int64

## CREACION DE LA TABLA EN REDSHIFT

Create table gastonrios32_coderhouse.STG_countries(

Id_Country INT primary key  IDENTITY(1,1),

Name varchar(200),

population int,

area decimal(10,2),

region varchar(250),

subregion varchar(250),

capital varchar(250),

borders varchar(250),

timezones varchar(250),

ETL_TIME timestamp
)

## Login a REDSHIFT

In [12]:
!pip install sqlalchemy
!pip install psycopg2

Requirement already satisfied: sqlalchemy in c:\users\grios\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\grios\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: psycopg2 in c:\users\grios\anaconda3\lib\site-packages (2.9.6)

In [13]:
import psycopg2

In [14]:
url="data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com"
data_base="data-engineer-database"
user="gastonrios32_coderhouse"
with open("C:/Users/grios/Documents/User_REDSHIFT.txt",'r') as f:
    pwd= f.read()

In [15]:
try:
    conn = psycopg2.connect(
        host='data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com',
        dbname=data_base,
        user=user,
        password=pwd,
        port='5439'
    )
    print("Connected to Redshift successfully!")
    
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

Connected to Redshift successfully!

In [16]:
conn

In [17]:
cur = conn.cursor()
# Execute a SQL query to select data from a table
cur.execute("SELECT * FROM STG_countries")
# Fetch the results
results = cur.fetchall()
results

[]

In [18]:
from psycopg2.extras import execute_values
cur = conn.cursor()
# Define the table name
table_name = 'gastonrios32_coderhouse.stg_countries'
# Define the columns you want to insert data into
columns = ['Name', 'population', 'area','region','subregion','capital','borders','timezones','ETL_TIME']
# Generate 
values = [tuple(x) for x in df.to_numpy()]
insert_sql = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES %s"
# Execute the INSERT statement using execute_values
cur.execute("BEGIN")
execute_values(cur, insert_sql, values)
cur.execute("COMMIT")
# Close the cursor and connection
#cur.close()
#conn.close()

In [21]:
cur.close()
conn.close()